::ng-deep {
  .sales-payments-card-inner {
    overflow: auto;
  }

  .table-sales-payments {
    thead {
      display: none!important;
    }
    .mat-mdc-select {
      padding: 0!important;
      background-color: transparent!important;
    }
    .mat-mdc-form-field-subscript-wrapper {
     display: none!important;
    }
  }


  .mat-mdc-dialog-content {
    .sales-payments-content-holder {
      max-height: inherit;
      .sales-payments-content {
        overflow: auto;
      }
      .sales-payments-content-footer {
        padding-top: 16px!important;
      }
    }
  }
  .hidden {
    display: none!important;
  }
}
