<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Warehouse</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>
<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New warehouse" matTooltip="New warehouse" (click)="showAddDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
<div class="inner-content">
  <mat-card [ngClass]="{ 'hidden': isLoading }">
      <mat-card-content fxLayout="column" >
        <app-data-table
        [isLoading]="isLoading"
        [dataSource]="dataSource"
        [columnDefs]="appConfig.config.tableColumns.warehouse"
        [total]="total"
        (pageChange)="pageChange($event)"
        (sortChange)="sortChange($event)"
        (filterChange)="filterChange($event)"
        ></app-data-table>
      </mat-card-content>
  </mat-card>
  </div>
</div>

<ng-template #warehouseFormDialog>
  <h4 mat-dialog-title>New warehouse</h4>

<div mat-dialog-content>
  <app-warehouse-form #warehouseForm></app-warehouse-form>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="closeNewWarehouseDialog()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="!warehouseForm.valid || !warehouseForm.ready"
      color="primary"
      type="submit"
      (click)="saveNewWarehouse(warehouseForm.getFormData)"
    >
      Save
    </button>
  </div>
</div>

</ng-template>

