::ng-deep {
  .request-inventoryRequestItems-card-inner {
    overflow: auto;
  }

  ::ng-deep .inventory-request-items {
    .mat-mdc-dialog-content {
      padding-top: 20px!important;
    }
  }
  .mat-mdc-dialog-content {
    .request-item-content-holder {
      max-height: inherit;
      .request-item-content {
        overflow: auto;
      }
      .request-item-content-footer {
        padding-top: 16px!important;
      }
    }
  }
}
