<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Adjustment Confirmation</span>
  <span class="toolbar-item-spacer"></span>
  <div class="toolbar-action">
    <button
      mat-flat-button
      routerLink="/adjustment-confirmation/closed-report/">
      View all closed report
    </button>
  </div>
</mat-toolbar>
<div class="content">
  <div class="inner-content">
    <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)" [(selectedIndex)]="tabIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label" matBadge="{{total.pending > 99 ? '99+' : total.pending }}" *ngIf="total.pending > 0; else matLabelPending" matBadgeOverlap="false">Pending</span>
          <ng-template #matLabelPending>Pending</ng-template>
        </ng-template>
        <ng-template matTabContent>
          <mat-card [ngClass]="{ 'hidden': isLoading }">
            <mat-card-content fxLayout="column" >
              <app-data-table
              [isLoading]="isLoading"
              [dataSource]="dataSource['pending']"
              [columnDefs]="appConfig.config.tableColumns.adjustmentConfirmation"
              [total]="total['pending']"
              (pageChange)="pageChange($event, 'pending')"
              (sortChange)="sortChange($event, 'pending')"
              (filterChange)="filterChange($event, 'pending')"
              ></app-data-table>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label" matBadge="{{total.reviewed > 99 ? '99+' : total.reviewed }}" *ngIf="total.reviewed > 0; else matLabelReviewed" matBadgeOverlap="false">Reviewed</span>
          <ng-template #matLabelReviewed>Reviewed</ng-template>
        </ng-template>
        <ng-template matTabContent>
          <mat-card [ngClass]="{ 'hidden': isLoading }">
            <mat-card-content fxLayout="column" >
              <app-data-table
              [isLoading]="isLoading"
              [dataSource]="dataSource['reviewed']"
              [columnDefs]="appConfig.config.tableColumns.adjustmentConfirmation"
              [total]="total['reviewed']"
              (pageChange)="pageChange($event, 'reviewed')"
              (sortChange)="sortChange($event, 'reviewed')"
              (filterChange)="filterChange($event, 'reviewed')"
              ></app-data-table>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label" matBadge="{{total.completed > 99 ? '99+' : total.completed }}" *ngIf="total.completed > 0; else matLabelCompleted" matBadgeOverlap="false">Completed</span>
          <ng-template #matLabelCompleted>Completed</ng-template>
        </ng-template>
        <ng-template matTabContent>
          <mat-card [ngClass]="{ 'hidden': isLoading }">
            <mat-card-content fxLayout="column" >
              <app-data-table
              [isLoading]="isLoading"
              [dataSource]="dataSource.completed"
              [columnDefs]="appConfig.config.tableColumns.adjustmentConfirmation"
              [total]="total.completed"
              (pageChange)="pageChange($event, 'completed')"
              (sortChange)="sortChange($event, 'completed')"
              (filterChange)="filterChange($event, 'completed')"
              ></app-data-table>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

