<mat-toolbar color="#fff" class="mat-elevation-z4">
  <button
    *ngIf="showVoid"
    style="margin-right: 10px!important;"
    mat-icon-button
    matTooltip="Back"
    routerLink="/sales-invoice/" keyboard_arrow_left>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span id="title">{{showVoid ? 'Void Sales Invoice' : 'Sales Invoice'}}</span>
  <span class="toolbar-item-spacer"></span>
  <div class="toolbar-action">
    <button
      *ngIf="!showVoid"
      mat-flat-button
      routerLink="/sales-invoice/void/">
      View all void invoice
    </button>
  </div>
</mat-toolbar>
<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New Sales Invoice" matTooltip="New Sales Invoice" routerLink="/sales-invoice/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
  <div class="inner-content">
    <mat-card [ngClass]="{ 'hidden': isLoading }">
      <mat-card-content fxLayout="column" >
        <app-data-table
        [isLoading]="isLoading"
        [dataSource]="dataSource"
        [columnDefs]="appConfig.config.tableColumns.salesInvoice"
        [total]="total"
        (pageChange)="pageChange($event)"
        (sortChange)="sortChange($event)"
        (filterChange)="filterChange($event)"
        ></app-data-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

