
<div class="inner-content">
  <form
  [formGroup]="form"
  fxLayout="row wrap"
  id="form"
  [ngClass]="{'readonly' : isReadOnly}">
  <fieldset fxFlex="100" fxLayout="row wrap" style="row-gap: 16px">
    <mat-form-field
      fxFlex="100"
      fxLayout="column"
      appearance="outline"
    >
      <mat-label>Warehouse code</mat-label>
      <input
        matInput
        placeholder="Warehouse code"
        formControlName="warehouseCode"
      />
      <mat-error
        *ngIf="getError('warehouseCode') !== (null || undefined)"
        >{{
          (getError("warehouseCode") &&
          getError("warehouseCode")["required"]
            ? "Please enter warehouse code"
            : "") ||
            (getError("warehouseCode") &&
            getError("warehouseCode")["pattern"]
              ? "Invalid input"
              : "")
        }}</mat-error
      >
    </mat-form-field>
    <mat-form-field
    fxFlex="100"
    fxLayout="column"
    appearance="outline"
    >
    <mat-label>Warehouse name</mat-label>
    <textarea
      matInput
      placeholder="Warehouse name"
      formControlName="name">
    </textarea>
      <mat-error
        *ngIf="getError('name') !== (null || undefined)"
        >{{
          (getError("name") && getError("name").required
            ? "Please enter warehouse name"
            : "") ||
            (getError("name") &&
            getError("name")["pattern"]
              ? "Invalid input"
              : "")}}</mat-error
      >
    </mat-form-field>
  </fieldset>
  </form>
</div>
