<mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content fxFlex="100" fxLayout="column" >
    <div
      fxFlex="33.33%"
      fxLayout="column"
      fxLayout.gt-xs="row">
      <mat-form-field
        appearance="outline">
        <mat-label>Total amount&nbsp;&nbsp;</mat-label>
        <input
          type="text"
          placeholder="Total amount"
          aria-label="Total amount"
          matInput
          readonly
          [ngModel]="accTotalAmount | currency: 'PHP'"/>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="column" class="request-inventoryRequestItems-card-inner">
      <table class="table-request-inventoryRequestItems" mat-table [dataSource]="dataSource">
        <!-- Page Column -->
        <ng-container matColumnDef="itemName" [sticky]="true">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'width': '50%', 'min-width': '100px'}">Item name</th>
          <td mat-cell *matCellDef="let element">{{ element.itemName }}</td>
        </ng-container>
        <ng-container matColumnDef="itemCategory">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'width': '30%'}">Item category</th>
          <td mat-cell *matCellDef="let element">{{ element.itemCategory }}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'width': '10%'}">quantity</th>
          <td mat-cell *matCellDef="let element">{{element.quantity}}{{ toNumber(element.quantity) > 1 ? 'pcs' : 'pc' }}</td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'width': '10%'}">Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.totalAmount | currency: 'PHP' }}</td>
        </ng-container>
        <ng-container matColumnDef="quantityReceived">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'width': '10%'}" [ngClass]="{ 'hidden': !inventoryRequest?.requestStatus || inventoryRequest?.requestStatus !== 'COMPLETED'} ">Received</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'hidden': !inventoryRequest?.requestStatus || inventoryRequest?.requestStatus !== 'COMPLETED'} ">{{element.quantityReceived}}{{ toNumber(element.quantityReceived) > 1 ? 'pcs' : 'pc' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="table-no-data" *ngIf="dataSource.data.length === 0">
      <span>No item added</span>
    </div>
  </mat-card-content>
</mat-card>
